mixin table(items)
  .table
    each value, key in items
      if value
        p= key
        p= value

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style.css')
    title Oliebollenactie HarenSamen 16+
  body
    main
      h1 Oliebollenactie HarenSamen 16+
      each order in orders
        .order
          if order.cancelled
            p.cancelled
              | #{order.name} &nbsp;
              a(href=`/orders/${order._id}`)= order._id
          else
            details
              summary
                | #{order.name} &nbsp;
                a(href=`/orders/${order._id}`)= order._id
              +table({
                'Aantal zakken oliebollen': order.oliebollen,
                'Aantal zakken nieuwjaarsrolletjes': order.rolletjes,
                'Bezorgadres': order.isForDelivery && order.address,
              })

      .table
        p Totale aantal oliebollen:
        p= orders.filter(order => !order.cancelled).reduce((a, v) => a + v.oliebollen, 0)
        p Totale aantal nieuwjaarsrolletjes:
        p= orders.filter(order => !order.cancelled).reduce((a, v) => a + v.rolletjes, 0)